body {
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
}

.form{
  width: 150%;
  background-color: #61afff;
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  align-items: center;


}

.todo-container {
  max-width: 100px;
  margin: 20px auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
}

input[type="text"] {
  width: 90%;
  padding: 10px;
  margin-bottom: 10px;
}
input[type="email"] {
  width: 90%;
  padding: 10px;
  margin-bottom: 10px;
}
input[type="PhoneNumber"] {
  width: 90%;
  padding: 10px;
  margin-bottom: 10px;
}
input[type="Address"] {
  width: 90%;
  padding: 10px;
  margin-bottom: 10px;
}

button {
  padding: 10px;
  background-color: #4caf50;
  color: #fff;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin-bottom: 10px;
}

li span {
  cursor: pointer;
}

li.completed span {
  text-decoration: line-through;
  color: #aaa;
}
p{
  /* font-size: 8px; */
  color: red;
}

#btn{
  display: flex;
  flex-direction: column;
  
  /* justify-content: center; */
  /* align-items: center; */
  /* justify-content: space-evenly; */

}

